body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(29, 29, 29);
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    z-index: 1000;
}

.menu-toggle {
    display: none; /* Hide toggle button by default */
    background-color: rgb(29, 29, 29); /* Menu background */
    color: white; /* Icon color */
    border: none;
    padding: 10px 20px; /* Padding around the hamburger icon */
    font-size: 20px; /* Icon size */
    cursor: pointer;
    position: fixed; /* Keeps the button in a specific position */
    top: 0;
    right: 0;
    z-index: 2000; /* Ensures the button is above other content */
    width: 100%; /* Makes the button span the entire screen width */
    text-align: right; /* Keeps the icon text aligned to the right */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; /* Ensure the menu is always flex-displayed on larger screens */
    justify-content: center;
    flex-wrap: wrap;
    width: 100%; /* Full width */
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #575757;
}

.hero {
    position: relative;
    text-align: center;
    color: white;
}

.hero-image {
    width: 100%;
    height: auto;
}

.key-dates, .message {
    padding: 20px;
    text-align: center;
}

.key-dates h2 {
    background-color: #eaeaea;
    padding: 10px;
    margin: 0;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

.registration th, .registration td {
    text-align: center;
}

.message {
    background-color: rgb(29, 29, 29);
    color: white;
    padding: 40px 20px;
}

/* Styles specific to mobile screens */
@media (max-width: 768px) {
    .menu-toggle {
        display: block; /* Show toggle button on mobile */
        background-color: rgb(29, 29, 29);
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 20px;
        cursor: pointer;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 2000;
        width: 100%; /* Full width */
        text-align: right;
    }

    nav ul {
        display: none; /* Initially hide the menu on mobile */
        flex-direction: column;
        position: absolute;
        background-color: rgb(29, 29, 29);
        width: 100%; /* Full width */
        top: 40px; /* Adjust top position to not overlap with the menu button */
        left: 0;
        z-index: 1001;
    }

    nav ul li a {
        padding: 10px; /* Adjust padding for mobile view */
    }
}